{% extends 'base.html' %}

{% block head %}
<title>Home | AudioX</title>
{% endblock %}

{% block body %}
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo"><i class="fa-regular fa-file-audio"></i>  AudioX</label>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/audio_list">Audio List</a></li>
        <li><a href="/assessment">Assessment</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
<div class="content">
    <h1 style="text-align: center;">Home</h1>
    <br>
    <h2>How It Works</h2>
    <br>
    <h3>Upload</h3>
    <p>This page here is to upload audio files to be processed for transcription. 
        All successful uploads will be shown on the "Audio List" page.</p>
    <br>
    <h3>Audio List</h3>
    <p>This page consists of all uploaded audio files. The audio files can be transcribed accordingly and the results will be shown.
        All audio files that are flagged with unwanted words will be sent to the "Assessment" page.
    </p>
    <br>
    <h3>Assessment</h3>
    <p>This page shows all audio files that have been flagged with unwanted words and are available for assessment.
        The assessor can listen to the audio file and decide on whether it has been flagged correctly.
    </p>
    <br>
    <h3>About</h3>
    <p>This page allows you to modify certain settings/parameters for databases. For security reasons, not all settings can be changed.
        Users have the opportunity to modify the list of unwanted words when transcriptions are being processed.
    </p>
    <br><br>
</div>

{% endblock %}