{% extends 'base.html' %}

{% block head %}
<title>Upload | AudioX</title>
{% endblock %}

{% block body %}
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo"><i class="fa-regular fa-file-audio"></i>  AudioX</label>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/upload">Upload</a></li>
        <li><a href="/audio_list">Audio List</a></li>
        <li><a href="/assessment">Assessment</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
<div class="content">
    <h1>Upload</h1>
</div>

{% endblock %}